[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Environment=KUBELET_NAME=k8s-{{cluster_name}}
Environment=KR_CGROUP=/kubereserved

ExecStartPre=-/usr/bin/docker kill ${KUBELET_NAME}
ExecStartPre=-/usr/bin/docker rm ${KUBELET_NAME}
ExecStop=/usr/bin/docker stop ${KUBELET_NAME}

ExecStart=/usr/bin/docker run \
        --name=${KUBELET_NAME} \
        --net=host \
        --pid=host \
        --privileged \
        --cgroup-parent=${KR_CGROUP} \
        --add-host={{cluster_name}}.k8s.ucloud:{{lbip}} \
        -v /dev:/dev \
        -v /sys:/sys:rshared \
        -v /var/run:/var/run:rw \
        -v /var/lib/docker/:/var/lib/docker:rw \
        -v /var/lib/kubelet/:/var/lib/kubelet:shared \
        -v /var/log:/var/log:shared \
        -v /:/rootfs:ro \
        -v {{k8s_hostdir}}:{{k8s_dir}} \
        -v {{cni_hostdir}}:{{cni_dir}} \
        {{kube_img}} \
        /kubelet \
        --address=0.0.0.0 \
        --enable-debugging-handlers=true \
        --enable-server=true \
        --read-only-port=0 \
        --hostname-override={{inventory_hostname}} \
        --node-labels=cluster_name={{cluster_name}} \
        --register-node=true \
        --anonymous-auth=true \
        --authorization-mode=AlwaysAllow \
        --bootstrap-kubeconfig={{k8s_etc_dir}}/{{bsp_kcf}} \
        --kubeconfig={{k8s_etc_dir}}/kubeconfig \
        --allow-privileged=true \
        --containerized=true \
        --docker-disable-shared-pid=false \
        --runtime-cgroups=${KR_CGROUP}/runtime \
        --enable-load-reader=true \
        --fail-swap-on=true \
        --image-pull-progress-deadline=5m \
        --runtime-request-timeout=1m \
        --streaming-connection-idle-timeout=30m \
        --log-cadvisor-usage=true \
        --logtostderr=true \
        --v=2 \
        --cluster-dns={{cluster_dns}} \
        --cluster-domain={{cluster_domain}} \
        --cni-bin-dir={{cni_bin_dir}} \
        --cni-conf-dir={{cni_etc_dir}} \
        --network-plugin=cni \
        --network-plugin-mtu=1454 \
        --pod-infra-container-image={{infra_img}} \
        --pods-per-core=6 \
        --cgroup-driver=cgroupfs \
        --cgroups-per-qos=true \
        --kubelet-cgroups=${KR_CGROUP}/kubelet \
        --cert-dir={{k8s_pki_dir}} \

Restart=on-failure
RestartSec=5
KillMode=process
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target