apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-{{token_pub}}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
data:
  description: {{token_desc|b64encode}}
  token-id: {{token_pub|b64encode}}
  token-secret: {{token_secret|b64encode}}
  usage-bootstrap-authentication: dHJ1ZQ==
  usage-bootstrap-signing: dHJ1ZQ==

