apiVersion: v1
kind: Config
clusters:
- cluster:
    server: "{{control_server_addr}}"
  name: "Default"
contexts:
- context:
    cluster: "Default"
    user: "Default"
  name: "Default"
current-context: "Default"
users:
- name: "Default"
  user:
    token: ""
